* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px; 
  height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 200px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  max-width: 500px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-circle {
  width: 50px;
  height: 50px;
  border: 2px solid #d946ef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: white;
  font-size: 18px;
}

.brand-name {
  color: #d946ef;
  font-weight: bold;
  font-size: 22px;
}

.main-text {
  font-size: 36px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 15px;
}

@supports (-webkit-background-clip: text) {
  .highlight {
    background: linear-gradient(to right, #d946ef, #fb7185);
  background-clip: text;               
  -webkit-background-clip: text;      
  -webkit-text-fill-color: transparent;
  }
}

.description {
  color: #a0aec0;
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
  width: 90%;
}

.light {
  color: #7dd3fc;
}

.category-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.purple {
  background-color: #a855f7;
}

.pink {
  background-color: #ec4899;
}

.orange {
  background-color: #fb923c;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-card {
  background-color: #1e1e2f;
  padding: 40px 30px;
  border-radius: 14px;
  text-align: center;
  width: 100%;
  max-width: 320px;
}

.form-card h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.form-btn {
  background-color: #111;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-size: 14px;
}

.form-btn:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding: 250px;
    justify-content: center;
  }

  .left, .right {
    max-width: 100vw;
    align-items: center;
    text-align: center;
  }

  .description {
    text-align: center;
  }
}
