.job-card {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  line-height: 25px;
}

.job-card:hover {
  transform: scale(1.02);
}

.apply-btn {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
}

.apply-btn:hover {
  background: linear-gradient(to right, #5c00ff, #1c8eff);
}
